name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ios:
    name: iOS
    runs-on: macos-26
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show Xcode version
        run: xcodebuild -version

      - name: Build iOS
        run: make build-ios-ci

  macos:
    name: macOS
    runs-on: macos-26
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show Xcode version
        run: xcodebuild -version

      - name: Build macOS
        run: make build-macos-ci

  tvos:
    name: tvOS
    runs-on: macos-26
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show Xcode version
        run: xcodebuild -version

      - name: Build tvOS
        run: make build-tvos-ci
