name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ios:
    name: iOS
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "latest-stable"

      - name: Show Xcode version
        run: xcodebuild -version

      - name: Clean build state
        run: make clean && rm -rf ~/Library/Developer/Xcode/DerivedData/KMReader-*

      - name: Restart CoreSimulator Service
        run: sudo killall -9 com.apple.CoreSimulator.CoreSimulatorService || true

      - name: Build iOS
        run: make build-ios-ci

  macos:
    name: macOS
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "latest-stable"

      - name: Show Xcode version
        run: xcodebuild -version

      - name: Clean build state
        run: make clean && rm -rf ~/Library/Developer/Xcode/DerivedData/KMReader-*

      - name: Restart CoreSimulator Service
        run: sudo killall -9 com.apple.CoreSimulator.CoreSimulatorService || true

      - name: Build macOS
        run: make build-macos-ci

  tvos:
    name: tvOS
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "latest-stable"

      - name: Show Xcode version
        run: xcodebuild -version

      - name: Clean build state
        run: make clean && rm -rf ~/Library/Developer/Xcode/DerivedData/KMReader-*

      - name: Restart CoreSimulator Service
        run: sudo killall -9 com.apple.CoreSimulator.CoreSimulatorService || true

      - name: Build tvOS
        run: make build-tvos-ci
